@model List<ECOMMERCE_MVC.Models.Item>
@{ ViewData["Title"] = "Shopping Cart";
    ViewData["IsLogged"] = @ViewBag.IsLogged;
    ViewData["Name"] = @ViewBag.Name;
}
@*Shopping Cart Index*@
<body>
   
    <h1 class="text-center">Your Shopping Cart</h1>



    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">



            </div>

        </div>

        <br /><br />

        @if (Model.Count() > 0)
        {
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Image</th>
            <th>
                Name
            </th>


            <th>Price</th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
<tr>
    <td><img src="@obj.ImageLink" width="100px"></td>
    <td>@obj.Name</td>
    <td>Rs @obj.Price .00</td>


    <td class="text-center">
        <div class="w-75 btn-group" role="group">


            @*<a asp-controller="Item1" asp-route-Id="@obj.ItemId" asp-action="EditItem" class="btn btn-danger mx-2">
                    <i class="far fa-trash-alt">Delete</i>
                </a>*@
            <a onclick="ConfirmDelete(@obj.ItemId)" href="#" class="btn btn-primary">
                <i class="fas fa-edit">Remove</i>
            </a>
        </div>
    </td>
</tr>
}
    </tbody>
</table> }
else
{
<p> Your cart is empty.</p>}

    </div>



    <div class="row">

        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4" style="background-color:lightgrey;">
            <div class="row">
                <div class="col">
                    <div class="text-center"><p style="font-size:18px;font-weight:600;">ORDER SUMMARY</p></div>
                </div>


            </div>
            <div class="row">
                <div class="col-8">
                    <div class="row" style="padding: 2px">
                        Sub Total
                    </div>
                    <div class="row" style="padding: 2px">
                        Estimated Shipping
                    </div>
                    <div class="row" style="padding: 2px">
                        <p style="font-size:12px;font-weight:600;">Estimated Total</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        Rs @ViewBag.Total<span>.00</span>
                    </div>
                    <div class="row">
                        Rs 00<span>.00</span>
                    </div>
                    <div class="row">
                        <p style="font-size:12px;font-weight:600;"> Rs @ViewBag.Total<span>.00</span></p>
                    </div>



                </div>
            </div>
            <div class="row">
                <div class="col-12" style="padding-bottom: 10px">
                    <a asp-controller="Cart" asp-action="CheckOut" class="btn btn-warning w-100">CHECKOUT NOW</a>
                </div>
            </div>
            @*https://assets.justinmind.com/wp-content/uploads/2019/10/shopping-cart-design-jimmy-choo.png*@
        </div>
    </div>
</body>
@section Scripts{
    <script type="text/javascript">
		function ConfirmDelete(id) {
			var r = confirm("Are you sure that you want to delete this item?");
			if (r == true) {
				window.location.href = '@Url.Action("DeleteCartItem", "Cart")/'+id;
			} else {

			}

		}
		

    </script>

    @{
                        <partial name="_ValidationScriptsPartial" /> }
}
