@model List<ECOMMERCE_MVC.Models.Item>
@{
    ViewData["Title"] = "Home Page";
    ViewData["IsLogged"] = @ViewBag.IsLogged;
}
<body onload="setInitialSelection(@ViewBag.option)">
<div>
    <div style="position:static; ">
        <div class="col-8" style=" border-radius: 25px; background-color: #373a3c; position: fixed; padding-top: 10px; padding-top: 10px; padding-bottom: 10px; margin-top: 10px ">
            <div class="row">
               <div class="col-3"><label style="font-size:20px;color:antiquewhite;"> Filter Search</label></div>
                <div class="col-3">
                    <div class="row">
                        <select id="dropdown"  class="form-control" onchange="reDirect(value)" onfocus="this.selectedIndex = -1;" style="background-color:grey">
                           
                            <option value="All">All</option>
                            <option value="Books">Books</option>
                            <option value="Computer">Computer</option>
                            <option value="Phone">Phone</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Kitchenware">Kitchenware</option>
                        </select>
                    </div>
                </div>   
                <div class="col-1">  </div>
                <div class="col-3" > <div class="row" style="padding-left:4px"><input id="searchbox" type="text" placeholder="Search.." style=";height:34px;background-color:grey; border-radius: 4px;">  <button onclick="Search()" style="border-radius: 4px; height: 34px; margin-left: 4px"><i class="fa fa-search"></i></button></div></div>
                <div class="col-1"><div class="row"><button  onclick="RefreshPage()" style="border-radius: 4px; height: 34px; margin-left: 4px"><i class="fas fa-redo-alt"></i></button></div></div>
            </div>
        </div>

    </div>
    <br />  <br />  <br />  <br />  <br />


    @if (Model.Count() > 0)
    {
        <div class="parent">


            @foreach (var obj in Model)
            {
                <div class="child">

                    <a asp-controller="Home" asp-route-Id="@obj.ItemId" asp-action="ItemView">
                        <input hidden asp-for="@obj.ItemId">
                        <img src="@obj.ImageLink" width="200" height="150">
                        <div><h4>@obj.Name</h4></div>
                        <div style="color:black"> Rs @obj.Price .00</div>
                        <a asp-controller="Home" asp-route-Id="@obj.ItemId" asp-action="ItemView" class="btn btn-info">
                            View Details
                        </a>

                        <br>
                        <br>
                    </a>
                </div>


            }
        </div>
    }
    else
    {
        <p> No category exists.</p>
    }

</div>
    </body>

@section Scripts{

    <script type="text/javascript">

        function reDirect(options) {
            var idhh = 134444;
            idhh++
            var x = "grrtt"
         window.location.href = '@Url.Action("Index", "Home")?option='+options  ;


        }

        function setInitialSelection(number) {
            document.getElementById("dropdown").selectedIndex=number
        }

        function Search() {
            var x = document.getElementById("searchbox").value;
            if (x != "" && x != null) {
                 console.log("x===="+x)
            window.location.href = '@Url.Action("Search", "Home")?searchtext1=' +x;
            }

        }

        function RefreshPage() {

            window.location.href = '@Url.Action("Index", "Home")?searchtext1=' +"All";
        }

    </script>
}