@model ECOMMERCE_MVC.Models.Item;
@{
    ViewData["Title"] = "ItemView";
}
<body>
    <br/><br/><br/>
    <div class="row">

        <div class='col-5'>
            <img src="@Model.ImageLink" width="400px"/>

        </div>
        <div class='col-6' style="word-break: break-word;">
            <p class="product_name">@Model.Name</p>
            <p><span class="price_title">Price:<t /> </span><span class="price_amount">Rs.@Model.Price</span><span style="color:black;font-size: 1.255rem;"> + </span><span class="price_title"> Free Shipping<t /> </span></p>
            <p class="about_title">About this item </p>
            <p class="description"> @Model.Description</p>
            <input hidden value="@Model.ItemId">
            <a class="btn btn-info" asp-controller="Home"  asp-action="AddToCart" asp-route-Id="@Model.ItemId"> <i class="fas fa-cart-plus"> Add To Cart</i> </a>


        </div>



    </div>
</body>
@section Scripts{

    <script type="text/javascript">
        function ConfirmDelete() {
            var ls;
            ls = localStorage;
            
            var custStr = ls.getItem("Email");
            if (custStr == null) {

                document.getElementById("id1").innerHTML = "rocky"
            }
            else {
                document.getElementById("id1").innerHTML = custStr
            }

        }

        function setLocalStorage() {
            var ls;
            ls = localStorage;
            ls.setItem("Email", "s@gmail.com");


        }

        function show() {
            var ls = localStorage;

            var name = ls.getItem("MVCName");
            var email = ls.getItem("MVCEmail");
            var id = ls.getItem("MVCId");
            //var r = confirm("ffffffffff");
            var r = confirm("name" + name + " " + "email" + email + "id" + id);
        }

    </script>
}



