@model List<ECOMMERCE_MVC.Models.Item>
@{
    ViewData["Title"] = "Inventory To Sell";

    ViewData["IsLogged"] = @ViewBag.IsLogged;
    ViewData["Name"] = @ViewBag.Name;

}

<body>
    <br />
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Item1" asp-action="Index">Inventory To Be Sold</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Item1" asp-action="ItemsInCart">Items Currently In Shopping Carts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Item1" asp-action="ItemsSold">Items Sold</a>
        </li>

    </ul>
    <br />
    <h1>Details Of Items To Be Sold</h1>
    <p style="font-size:16px;color:slategrey"> Given below are alist of items that youhave added to the marketplace for selling. The  items  beliwhave not been added to any customers shopping cart and they have not been sold yet.<br/>
    The items which have been added to the customers shopping cart but which have not been sold yet can be viewd in the second tab above.<br/>
    The items which have been sold can be viewed from the third tab above.
    </p>


        <div class="container p-3">
            <div class="row pt-4">
                <div class="col-6">



                </div>
                <div class="col-6 text-right">
                    <a asp-controller="Item1" asp-action="AddItem" class="btn btn-info">
                        Add New Item To Sell
                    </a>
                </div>
            </div>

            <br /><br />

            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th style="word-break:break-all;">Description</th>
                            <th>Category</th>

                            <th>Price</th>
                            <th>Image</th>
                            <th>Options</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr>
                                <td>@obj.Name</td>
                                <td style="word-break:break-all;">@obj.Description</td>
                                <td>@obj.CategoryText</td>
                                <td>Rs @obj.Price .00</td>
                                <td><img src="@obj.ImageLink" width="100px"></td>

                                <td class="text-center">
                                    <div class="w-75 btn-group" role="group">

                                        <a asp-controller="Item1" asp-route-Id="@obj.ItemId" asp-action="EditItem" class="btn btn-info mx-2">
                                            <i class="fas fa-edit">Edit</i>
                                        </a>

                                        @*<a asp-controller="Item1" asp-route-Id="@obj.ItemId" asp-action="EditItem" class="btn btn-danger mx-2">
                                            <i class="far fa-trash-alt">Delete</i>
                                        </a>*@
                                        <a onclick="ConfirmDelete(@obj.ItemId)" href="#" class="btn btn-primary mx-2">
                                            <i class="fas fa-edit">Delete</i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
<p> You have not added any items to be sold.</p>
        }

    </div>
</body>
@section Scripts{
    <script type="text/javascript">
        function ConfirmDelete(id) {
            var r = confirm("Are you sure that you want to delete this item?");
            if (r == true) {
                window.location.href = '@Url.Action("DeleteItem", "Item1")/'+id;
            } else {

            }

        }
        function show() {
            var x = document.getElementById("id1").value;
            var r = confirm("Are you sure that you want to delete this item?"+x);
        }
        function storeData() {
            var x = document.getElementById("id1").value;
            var r = confirm("Are you sure that you want to delete this item?" + x);
        }

    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
