@model List<ECOMMERCE_MVC.Models.Item>
@{
    ViewData["Title"] = "Items Sold";
}

<body>
    <h1>Details of Items Sold</h1>



    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <div class="row">

                    <div class="col-4">
                        <a asp-controller="Item1" asp-action="ItemsInCart" class="btn btn-info">
                            Items Added To Cart
                        </a>
                    </div>
                    <div class="col-4">
                        <a asp-controller="Item1" asp-action="ItemsSold" class="btn btn-info">
                            Items Sold
                        </a>
                    </div>

                </div>


            </div>

        </div>

        <br /><br />

        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th style="word-break:break-all;">Description</th>
                        <th>Category</th>

                        <th>Price</th>
                        <th>Image</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Name</td>
                            <td style="word-break:break-all;">@obj.Description</td>
                            <td>@obj.CategoryText</td>
                            <td>Rs @obj.Price .00</td>
                            <td><img src="@obj.ImageLink" width="100px"></td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> No category exists.</p>
        }

    </div>
    <div class="row">

        
        <div class="col-4" style="background-color:lightgrey;">
            <div class="row">
                <div class="col">
                    <div class="text-center"><p style="font-size:18px;font-weight:600;">YOUR TOTAL INCOME FROM SALES</p></div>
                </div>


            </div>
            <div class="row">
                <div class="col-8">
                    <div class="row" style="padding: 2px">
                         Total Income
                    </div>
                    
                </div>
                <div class="col-4">
                    <div class="row">
                        Rs @ViewBag.Total<span>.00</span>
                    </div>
                    



                </div>
            </div>
            
            @*https://assets.justinmind.com/wp-content/uploads/2019/10/shopping-cart-design-jimmy-choo.png*@
        </div>
    </div>
</body>
@section Scripts{
    <script type="text/javascript">
        function ConfirmDelete(id) {
            var r = confirm("Are you sure that you want to delete this item?");
            if (r == true) {
                window.location.href = '@Url.Action("DeleteItem", "Item1")/'+id;
            } else {

            }

        }
        function show() {
            var x = document.getElementById("id1").value;
            var r = confirm("Are you sure that you want to delete this item?"+x);
        }
        function storeData() {
            var x = document.getElementById("id1").value;
            var r = confirm("Are you sure that you want to delete this item?" + x);
        }

    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
